In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [15]:
# Read the csv file into a pandas DataFrame
df = pd.read_csv('Resources/Unemployment_mental_illness_survey.csv')
# df.head()
#

In [71]:
clean_df=df.rename(columns={"I am currently employed at least part-time":"employed",
                   "I identify as having a mental illness":"mental_illness", 
                   "I have my own computer separate from a smart phone":"own_computer",
                   "I have been hospitalized before for my mental illness":"hospitalized",
                   "How many days were you hospitalized for your mental illness":"hospitalized_days",
                   "I am legally disabled":"disabled",
                "I have my regular access to the internet":"internet",
                   "I live with my parents":"with_parents","I have a gap in my resume":"gap",
                   "Total length of any gaps in my resume inÂ months.":"months_gap",
                   "Annual income (including any social welfare programs) in USD":"income_with_social",
                   "I am unemployed":"unemployed",
                   "I read outside of work and school":"read",
                   "Annual income from social welfare programs":"welfare_income",
                   "I receive food stamps":"food_stamp",
                   "I am on section 8 housing":"section_8",
                   "How many times were you hospitalized for your mental illness":"times_hospitalized",
                   "Lack of concentration":"Lack_concentration",
                   "Obsessive thinking":"Obsessive_thinking",
                   "Mood swings":"Mood_swings",
                   "Panic attacks":"Panic_attacks",
                   "Compulsive behavior":"Compulsive_behavior",
                   "Household Income":"Household_Income",
                   "Device Type":"Device"
                  })
# clean_df

In [72]:
#predict=mental_illness
#we try to the outstanding variable that has the highest correlation to our prediction 
selected_df=clean_df[["employed","mental_illness","Education","hospitalized","disabled","with_parents","gap","months_gap","income_with_social","read","welfare_income","food_stamp","section_8","Lack_concentration","Anxiety","Depression","Obsessive_thinking","Mood_swings","Panic_attacks","Compulsive_behavior","Tiredness","Age","Gender","Household_Income"]]
selected_df
s_df=selected_df.fillna(0)
s5_df = s_df[s_df.Household_Income != "Prefer not to answer"]
s5_df

,employed,mental_illness,Education,hospitalized,disabled,with_parents,gap,months_gap,income_with_social,read,welfare_income,food_stamp,section_8,Lack_concentration,Anxiety,Depression,Obsessive_thinking,Mood_swings,Panic_attacks,Compulsive_behavior,Tiredness,Age,Gender,Household_Income
0,0,0,High School or GED,0,0,0,1,24,35,1,0,0,0,1.0,1,1,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999"
1,1,1,Some Phd,0,0,0,0,1,22,1,0,0,0,1.0,1,1,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999"
2,1,0,Completed Undergraduate,0,0,0,0,0,100,1,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999"
3,0,0,Some Undergraduate,0,0,1,1,11,0,1,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999"
4,1,1,Completed Undergraduate,1,1,0,1,33,32,1,30,0,0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,0,1,Completed Undergraduate,0,0,0,0,0,40,1,0,0,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,18-29,Female,"$50,000-$74,999"
330,1,0,Some Undergraduate,0,0,1,0,0,62,1,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$50,000-$74,999"
331,1,0,Some Undergraduate,0,0,0,0,0,0,1,1,1,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,> 60,Female,"$10,000-$24,999"
332,0,1,Some Undergraduate,1,1,1,1,30,12,1,12,1,0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,18-29,Female,"$0-$9,999"
333,1,1,Some Undergraduate,0,1,0,0,0,25,1,0,0,0,0.0,1,1,0.0,0.0,0.0,0.0,0.0,18-29,Female,"$10,000-$24,999"

In [73]:
def locedu(df):
    df=df.assign(educ_label='0')
    df.loc[df['Education']=='High School or GED','educ_label']='1'
    df.loc[df['Education']=='Some Undergraduate','educ_label']='2'
    df.loc[df['Education']=='Completed Undergraduate','educ_label']='3'
    df.loc[df['Education']=='Completed Masters','educ_label']='4'
    df.loc[df['Education']=='Some Phd','educ_label']='5'
    df.loc[df['Education']=='Complete Phd','educ_label']='6'
    return df
s6_df=locedu(s5_df)
def locincome(df):
    df=df.assign(income_label='0')
    df.loc[df['Household_Income']=='$10,000-$24,999','income_label']='1'
    df.loc[df['Household_Income']=='$25,000-$49,999','income_label']='2'
    df.loc[df['Household_Income']=='$50,000-$74,999','income_label']='3'
    df.loc[df['Household_Income']=='$75,000-$99,999','income_label']='4'
    df.loc[df['Household_Income']=='$100,000-$124,999','income_label']='5'
    df.loc[df['Household_Income']=='$125,000-$149,999','income_label']='6'
    df.loc[df['Household_Income']=='$150,000-$174,999','income_label']='7'
    df.loc[df['Household_Income']=='$175,000-$199,999','income_label']='8'
    df.loc[df['Household_Income']=='$200,000+','income_label']='9'
    return df
s7_df=locincome(s6_df) 
def locgender(df):
    df=df.assign(gender_label='0')
    df.loc[df['Gender']=='Male','gender_label']='1'
    return df
s8_df=locgender(s7_df)
def locage(df):
    df=df.assign(age_label='0')
    df.loc[df['Age']=='30-44','age_label']='1'
    df.loc[df['Age']=='45-60','age_label']='2'
    df.loc[df['Age']=='> 60','age_label']='3'
    return df
s9_df=locage(s8_df)
s10_df=s9_df[["employed","mental_illness","hospitalized","disabled","with_parents","gap","months_gap","income_with_social","read","welfare_income","food_stamp","section_8","Lack_concentration","Anxiety","Depression","Obsessive_thinking","Mood_swings","Panic_attacks","Compulsive_behavior","Tiredness","educ_label","income_label","age_label","gender_label"]]

s10_df

,employed,mental_illness,hospitalized,disabled,with_parents,gap,months_gap,income_with_social,read,welfare_income,food_stamp,section_8,Lack_concentration,Anxiety,Depression,Obsessive_thinking,Mood_swings,Panic_attacks,Compulsive_behavior,Tiredness,educ_label,income_label,age_label,gender_label
0,0,0,0,0,0,1,24,35,1,0,0,0,1.0,1,1,1.0,0.0,1.0,0.0,0.0,1,2,1,1
1,1,1,0,0,0,0,1,22,1,0,0,0,1.0,1,1,0.0,0.0,1.0,0.0,1.0,5,3,0,1
2,1,0,0,0,0,0,0,100,1,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,3,7,1,1
3,0,0,0,0,1,1,11,0,1,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,2,2,1,1
4,1,1,1,1,0,1,33,32,1,30,0,0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,3,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,0,1,0,0,0,0,0,40,1,0,0,0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,3,3,0,0
330,1,0,0,0,1,0,0,62,1,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,2,3,0,1
331,1,0,0,0,0,0,0,0,1,1,1,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,2,1,3,0
332,0,1,1,1,1,1,30,12,1,12,1,0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,2,0,0,0
333,1,1,0,1,0,0,0,25,1,0,0,0,0.0,1,1,0.0,0.0,0.0,0.0,0.0,2,1,0,0

In [117]:
# pd.set_option('max_columns', None)
# s10_df.corr()

In [116]:
# for each_column in s10_df.columns: 
#     print(s10_df[each_column].value_counts())

In [7]:
# s1_df=selected_df.select_dtypes(include=['object']).copy()
# s1_df
#s1_df.isnull().sum()
# data=s8_df.values
# age_data=data[:, 22]
# gen_data=data[:, 23]
# from sklearn.preprocessing import LabelEncoder
# label_encoder=LabelEncoder()
# def labelling(d):
#     label_encoder.fit(d)
#     encoded_x=label_encoder.transform(d)
#     return encoded_x
# age_label=labelling(age_data)
# gen_label=labelling(gen_data)
# gen_label
# for label, original_class in zip(gen_label, gen_data):
#     print('Original Class: ' + str(original_class))
#     print('Encoded Label: ' + str(label))
#     print('-' * 12)

# for label, original_class in zip(age_label, age_data):
#     print('Original Class: ' + str(original_class))
#     print('Encoded Label: ' + str(label))
#     print('-' * 12)

In [105]:
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection, naive_bayes, metrics
def train_model(classifier, feature_vector_train, train_label, feature_vector_valid, valid_label, is_neural_net=False):
    classifier.fit(feature_vector_train, train_label)
    predictions=classifier.predict(feature_vector_valid)
    if is_neural_net:
        predictions=predictions.argmax(axis=-1)
    return metrics.accuracy_score(predictions, valid_label)

In [115]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
model = LinearRegression()
from sklearn.preprocessing import StandardScaler
X_list=["employed","hospitalized","disabled","with_parents","gap","months_gap","income_with_social","read","welfare_income","food_stamp","section_8","Lack_concentration","Anxiety","Depression","Obsessive_thinking","Mood_swings","Panic_attacks","Compulsive_behavior","Tiredness","educ_label","income_label","age_label","gender_label"]
X = s10_df[["employed","hospitalized","disabled","with_parents","gap","months_gap","income_with_social","read","welfare_income","food_stamp","section_8","Lack_concentration","Anxiety","Depression","Obsessive_thinking","Mood_swings","Panic_attacks","Compulsive_behavior","Tiredness","educ_label","income_label","age_label","gender_label"]]
y = s10_df.mental_illness.values.reshape(-1, 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
def scaler_var(column):
    return StandardScaler().fit(column)
for each_x in X_list:
    X_scaler=scaler_var(s10_df[[each_x]])
    X_scaler=StandardScaler().fit(X_train)
    X_train_scaled=X_scaler.transform(X_train)
    X_test_scaled=X_scaler.transform(X_train)
#     y_scaler=StandardScaler().fit(y_train)
# print("Shape: ", X.shape, y.shape)
#     y_train_scaled=y_scaler.transform(y_train)
#     y_test_scaled=y_scaler.transform(y_train)
    accuracy=train_model(LogisticRegression(),X_train_scaled,y_train_scaled, X_test_scaled,y_test_scaled)
    print(accuracy)
    print("-"*12)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

ValueError: Unknown label type: 'continuous'

NameError: name 'x_train_counts' is not defined

In [ ]:
accuracy=train_model(naive_bayes.MultinomialNB(),)